{
	"plugins": ["stylelint-order"],
	"extends": ["@wordpress/stylelint-config/scss", "stylelint-config-prettier"],
	"customSyntax": "postcss-scss",
	"rules": {
		"scss/comment-no-empty": null,
		"order/properties-alphabetical-order": true,
		"color-no-invalid-hex": true,
		"declaration-no-important": true,
		"selector-no-vendor-prefix": true,
		"no-descending-specificity": null,
		"selector-max-id": 0,
		"function-url-quotes": "always",
		"at-rule-empty-line-before": [
			"always",
			{
				"ignore": ["after-comment", "first-nested", "blockless-after-blockless"],
				"ignoreAtRules": ["else"]
			}
		],
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"ignore": ["after-comment", "first-nested"]
			}
		]
	}
}
