# Created by http://www.gitignore.io

### WordPress Ignores by https://github.com/github/gitignore/blob/master/WordPress.gitignore ###
/public_html/wp/
/public_html/wp-content/*/*
/public_html/wp-content/mu-plugins/*
/public_html/wp-content/plugins/*
/public_html/vendor
production-config.php

!/public_html/wp-content/themes
!/public_html/wp-content/themes/*
!/public_html/wp-content/themes/wp-foundation-six
!/public_html/wp-content/themes/wp-foundation-six/*
!/public_html/wp-content/mu-plugins/index.php
!/public_html/wp-content/plugins/index.php

/public_html/wp-content/themes/wp-foundation-six/assets
/public_html/wp-content/themes/wp-foundation-six-build

### Docker ###
docker_php_error_log
/data/*/*
/ejected/*/*
/html/
/logs/**/*
!/data/backups/.gitit
!/data/mysql/.gitit
!/ejected/server-assets/**/*
!/logs/.gitit

### Bower ###
bower_components

### Vagrant stuff ###
.vagrant
acceptance_config.yml
vagrant-spec.config.rb

### OSX ###
.AppleDouble
.DS_Store
.LSOverride

### Icon must end with two \r ###
Icon

### Thumbnails ###
._*

### Files that might appear on external disk ###
.Spotlight-V100
.Trashes

### Directories potentially created on remote AFP share ###
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

### Created by http://www.gitignore.io ###
*.css.map
*.log
*.sql
*.zip
.phpintel
.sass-cache
.tmp
advanced-cache.php
cache
db.php
dist
node_modules
npm-debug.log
object-cache.php
.vscode
