version: '3'
services:
  cli_tools:
    image: digitalblake/general-cli:0.0.6
    volumes:
      - ./:/var/www/
    tty: true

  nginx:
    image: digitalblake/wp-foundation-six-nginx:0.0.0
    volumes:
      - ./:/var/www/
    ports:
      - "80:80"
    depends_on:
      - mysql
      - php

  php:
    image: digitalblake/wp-foundation-six-php:0.0.2
    volumes:
      - ./:/var/www/
    expose:
      - "9000"

  mysql:
    image: mariadb:10.1.20
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wp_foundation_six
      MYSQL_PASSWORD: root

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    depends_on:
      - mysql
    ports:
      - "8000:80"
    environment:
      PMA_ARBITRARY: 1