.post-navigation {
	@include clearfix;

	background-color: $light-gray;
	margin: 20px 0;
	padding: 10px 20px;

	.nav-previous {
		float: left;

		&::before {
			content: '\2190';
			margin-right: 5px;
		}
	}

	.nav-next {
		float: right;

		&::after {
			content: '\2192';
			margin-left: 5px;
		}
	}
}
