// // Login Page styles
.login {
	// background: rgb();

	// h1 {
	// 	a{
	// 		background-image: url(../images/your-sites-logo.svg);
	// 		width: 320px;
	// 		background-size: 320px;
	// 	}
	// }
	z-index: 0;
}

// WordPress admin page styles
/* stylelint-disable selector-id-pattern, selector-max-id */
// .wp-admin {
// 	#wp-auth-check-wrap #wp-auth-check {
// 		// Should be the same as the login background color.
// 		// This is for the popup the appears when you have been inactive within
// 		// WordPress and you are asked to login back in.
// 		background: rgb();
// 	}
// }
/* stylelint-enable */
